@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root{
   --primary-color: #0ea5e9;
   --secondary-color:#00A5E9;
   --dark-gray: #374151;
   --off-white:#E7EDEB;
   --dark-blue:#003A6B;
   --blue-grotto:#189AB4;
   --blue-green:#75E6DA;
   --baby-blue:#D4F1F4;
}

hr{
    margin: 3rem 0rem;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}
/*container*/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
/*link*/
a.link,a.link-active{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
a.link.link-primary{
    text-decoration: none;
    color: white;
}
a.link.link-secondary{
    text-decoration: none;
    color: var(--dark-blue);
}
a.link.link-secondary:hover{
    text-decoration: none;
    color: var(--blue-grotto);
}

.link-primary{
    background-color: var(--dark-blue);
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: white
}
.link-primary:hover{
    background-color: var(--blue-grotto);
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
    color:cornsilk;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%), 0 12px 20px 0 rgb(0 0 0 / 10%);
}

.link-secondary{
  color: var(--dark-blue);
  border-radius: 1rem;
  border: 1px solid var(--dark-blue);
}
.link-secondary:hover{
  color: var(--blue-grotto);
  background-color: whitesmoke;
  border-radius: 1rem;
  border: 1px solid var(--blue-grotto);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%), 0 12px 20px 0 rgb(0 0 0 / 10%);
}

/*List part*/
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/*nav*/
.navigation{
    background-color: var(--dark-blue);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;

}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.7rem;
    font-family: 'Kalam', cursive;
    /* color: var(--blue-green); */
}
.navigation .nav-pills{
    text-align: center;
}
.navigation .link{
    color: white;
}
.navigation .link:hover{
    color: var(--blue-green);
    font-weight: bolder;
}
.navigation .link-active{
    font-weight: bold;
}
/*header*/
.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
}
.hero #hero-name{
    font-family: 'Kalam', cursive;
}
.hero .hero-heading .heading-inverted{
    color: var(--blue-grotto);
}
/*section*/
.section{
    padding: 1.5rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: var(--baby-blue);
}
/*footer*/
.footer{
    background-color: var(--dark-blue);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.footer .link{
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}
/* blog */
.blog-heading{
    text-align: center;
}
.blog-heading-inverted{
    color: var(--blue-grotto);
}


@media only screen and (max-width:768px){
    .navigation .nav-pills {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .list-item-inline{
        padding: 0;
    }
}